callbackFunctions
  callbackFunction
    Function null
    PerformanceObserverCallback
      signature
        0
          param
            options
enums
  enum
    AuthenticatorTransport
      value
        smart-card
    ConnectionType
      value
        wimax
    GPUBlendFactor
      value
        one-minus-src1
        one-minus-src1-alpha
        src1
        src1-alpha
    GPUFeatureName
      value
        clip-distances
        dual-source-blending
        float32-blendable
        texture-compression-astc-sliced-3d
        texture-compression-bc-sliced-3d
    GPUVertexFormat
      value
        float16
        sint16
        sint8
        snorm16
        snorm8
        uint16
        uint8
        unorm16
        unorm8
        unorm8x4-bgra
    MediaSessionAction
      value
        enterpictureinpicture
        hangup
        nextslide
        previousslide
        togglecamera
        togglemicrophone
        togglescreenshare
        voiceactivity
    RequestDestination
      value
        json
    ValueType null
    VideoColorPrimaries
      value
        bt2020
        smpte432
    VideoMatrixCoefficients
      value
        bt2020-ncl
    VideoPixelFormat
      value
        I420AP10
        I420AP12
        I420P10
        I420P12
        I422A
        I422AP10
        I422AP12
        I422P10
        I422P12
        I444A
        I444AP10
        I444AP12
        I444P10
        I444P12
    VideoTransferCharacteristics
      value
        hlg
        linear
        pq
interfaces
  interface
    Clipboard
      methods
        method
          read
            signature
              0
                param
                  formats
    CSSRule
      constants
        constant
          MARGIN_RULE null
    Document
      methods
        method
          // Manually moved to DocumentOrShadowRoot
          // See https://github.com/w3c/csswg-drafts/issues/5886 and https://github.com/w3c/csswg-drafts/issues/556
          elementFromPoint null
          elementsFromPoint null
    HTMLElement
      methods
        method
          showPopover
            signature
              0
                param
                  options
    IntersectionObserverEntry
      constructor null
    OffscreenCanvasRenderingContext2D
      implements
        CanvasSettings
    PaymentResponse
      methods
        method
          complete
            signature
              0
                param
                  details
    ReadableStreamBYOBReader
      methods
        method
          read
            signature
              0
                param
                  options
    RTCEncodedAudioFrame
      constructor null
    RTCEncodedVideoFrame
      constructor null
    SVGFEGaussianBlurElement
      constants
        constant
          SVG_EDGEMODE_DUPLICATE null
          SVG_EDGEMODE_NONE null
          SVG_EDGEMODE_UNKNOWN null
          SVG_EDGEMODE_WRAP null
    WebGLBuffer
      extends null
    WebGLFramebuffer
      extends null
    WebGLProgram
      extends null
    WebGLQuery
      extends null
    WebGLRenderbuffer
      extends null
    WebGLSampler
      extends null
    WebGLShader
      extends null
    WebGLSync
      extends null
    WebGLTexture
      extends null
    WebGLTransformFeedback
      extends null
    WebGLVertexArrayObject
      extends null
    WebGLVertexArrayObjectOES
      extends null
dictionaries
  dictionary
    AudioContextOptions
      members
        member
          renderSizeHint null
          sinkId null
    AudioEncoderConfig
      members
        member
          aac null
          flac null
    AuthenticationExtensionsClientInputs
      members
        member
          appidExclude null
          credBlob null
          getCredBlob null
          hmacGetSecret null
          payment null
    AuthenticationExtensionsClientInputsJSON
      members
        member
          appidExclude null
    AuthenticationExtensionsClientOutputs
      members
        member
          appidExclude null
          hmacGetSecret null
          payment null
    CanvasRenderingContext2DSettings
      members
        member
          colorType null
    CredentialCreationOptions
      members
        member
          digital null
          // Only `mediation`, `publicKey`, `signal` are implemented by 2+ engines, everything else is currently Blink only.
          // https://searchfox.org/mozilla-central/source/dom/webidl/CredentialManagement.webidl
          // https://searchfox.org/wubkat/source/Source/WebCore/Modules/credentialmanagement/CredentialRequestOptions.idl
          // https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/renderer/modules/credentialmanagement/credential_request_options.idl
          // Behind a flag in WebKit and Blink as of 2024-03
          federated null
          password null
          mediation null
    CookieListItem
      members
        member
          domain null
          path null
          expires null
          secure null
          sameSite null
          partitioned null
    CredentialRequestOptions
      members
        member
          digital null
          // Only `mediation`, `publicKey`, `signal` are implemented by 2+ engines, everything else is currently Blink only.
          // https://searchfox.org/mozilla-central/source/dom/webidl/CredentialManagement.webidl
          // https://searchfox.org/wubkat/source/Source/WebCore/Modules/credentialmanagement/CredentialRequestOptions.idl
          // https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/renderer/modules/credentialmanagement/credential_request_options.idl
          // Behind a flag in WebKit and Blink as of 2024-03
          federated null
          identity null
          otp null
          password null
    DisplayMediaStreamOptions
      members
        member
          // Only `audio` and `video` are implemented by 2+ engines, everything else is currently Blink only.
          // https://searchfox.org/mozilla-central/source/dom/webidl/MediaStream.webidl
          // https://searchfox.org/wubkat/source/Source/WebCore/Modules/mediastream/MediaDevices.idl
          // https://source.chromium.org/chromium/chromium/src/+/main:third_party/devtools-frontend/src/node_modules/@webref/idl/screen-capture.idl
          monitorTypeSurfaces null
          selfBrowserSurface null
          surfaceSwitching null
          systemAudio null
          windowAudio null
    EncodedVideoChunkInit
      members
        member
          transfer null
    EncodedVideoChunkMetadata
      members
        member
          alphaSideData null
          svc null
    FetchEventInit
      members
        member
          replacesClientId null
    FocusOptions
      members
        member
          focusVisible null
    FontFaceDescriptors
      members
        member
          variationSettings null
    GetAnimationsOptions
      members
        member
          pseudoElement null
    GPURequestAdapterOptions
      members
        member
          featureLevel null
    GPUShaderModuleDescriptor
      members
        member
          compilationHints null
    GPUTextureViewDescriptor
      members
        member
          usage null
    ImageDataSettings
      members
        member
          pixelFormat null
    IntersectionObserverInit
      members
        member
          delay null
          scrollMargin null
          trackVisibility null
    KeyframeAnimationOptions
      members
        member
          rangeEnd null
          rangeStart null
    KeySystemTrackConfiguration
      members
        member
          encryptionScheme null
    MediaCapabilitiesDecodingInfo
      members
        member
          configuration null
    MediaCapabilitiesEncodingInfo
      members
        member
          configuration null
    MediaMetadataInit
      members
        member
          chapterInfo null
    MediaRecorderOptions
      members
        member
          audioBitrateMode null
          videoKeyFrameIntervalCount null
          videoKeyFrameIntervalDuration null
    MediaSessionActionDetails
      members
        member
          isActivating null
    MediaTrackCapabilities
      members
        member
          // Gecko: https://searchfox.org/mozilla-central/source/dom/webidl/MediaTrackSupportedConstraints.webidl
          // WebKit: https://searchfox.org/wubkat/source/Source/WebCore/Modules/mediastream/MediaTrackSupportedConstraints.idl
          // Blink: https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/renderer/modules/mediastream/media_track_supported_constraints.idl
          latency null
          resizeMode null
          // Screen Share extensions
          // https://w3c.github.io/mediacapture-screen-share/#mediadevices-additions
          cursor null
          logicalSurface null
          // Blink only as of 2022-11
          // Image Capture extensions which are Blink only as of 2022-11
          // https://w3c.github.io/mediacapture-image/#mediatrackcapabilities-section
          whiteBalanceMode null
          exposureMode null
          focusMode null
          exposureCompensation null
          exposureTime null
          colorTemperature null
          iso null
          brightness null
          contrast null
          saturation null
          sharpness null
          focusDistance null
          pan null
          tilt null
          zoom null
          torch null
    MediaTrackConstraintSet
      members
        member
          // Gecko: https://searchfox.org/mozilla-central/source/dom/webidl/MediaTrackSupportedConstraints.webidl
          // WebKit: https://searchfox.org/wubkat/source/Source/WebCore/Modules/mediastream/MediaTrackSupportedConstraints.idl
          // Blink: https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/renderer/modules/mediastream/media_track_supported_constraints.idl
          latency null
          resizeMode null
          // Screen Share extensions
          // https://w3c.github.io/mediacapture-screen-share/#mediadevices-additions
          cursor null
          logicalSurface null
          restrictOwnAudio null
          suppressLocalAudioPlayback null
          // Blink only as of 2022-11
          // Image Capture extensions which are Blink only as of 2022-11
          // https://w3c.github.io/mediacapture-image/#mediatrackcapabilities-section
          whiteBalanceMode null
          exposureMode null
          focusMode null
          pointsOfInterest null
          exposureCompensation null
          exposureTime null
          colorTemperature null
          iso null
          brightness null
          contrast null
          saturation null
          sharpness null
          focusDistance null
          pan null
          tilt null
          zoom null
          torch null
    MediaTrackSettings
      members
        member
          // Gecko: https://searchfox.org/mozilla-central/source/dom/webidl/MediaTrackSupportedConstraints.webidl
          // WebKit: https://searchfox.org/wubkat/source/Source/WebCore/Modules/mediastream/MediaTrackSupportedConstraints.idl
          // Blink: https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/renderer/modules/mediastream/media_track_supported_constraints.idl
          latency null
          resizeMode null
          // Screen Share extensions
          // https://w3c.github.io/mediacapture-screen-share/#mediadevices-additions
          cursor null
          logicalSurface null
          restrictOwnAudio null
          suppressLocalAudioPlayback null
          screenPixelRatio null
          exposureMode null
          focusMode null
          pointsOfInterest null
          exposureCompensation null
          exposureTime null
          colorTemperature null
          iso null
          brightness null
          contrast null
          saturation null
          sharpness null
          focusDistance null
          pan null
          tilt null
    MediaTrackSupportedConstraints
      members
        member
          // Gecko: https://searchfox.org/mozilla-central/source/dom/webidl/MediaTrackSupportedConstraints.webidl
          // WebKit: https://searchfox.org/wubkat/source/Source/WebCore/Modules/mediastream/MediaTrackSupportedConstraints.idl
          // Blink: https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/renderer/modules/mediastream/media_track_supported_constraints.idl
          latency null
          resizeMode null
          // Screen Share extensions
          // https://w3c.github.io/mediacapture-screen-share/#mediadevices-additions
          cursor null
          logicalSurface null
          restrictOwnAudio null
          suppressLocalAudioPlayback null
          // Blink only as of 2022-11
          // Image Capture extensions which are Blink only as of 2022-11
          // https://w3c.github.io/mediacapture-image/#mediatrackcapabilities-section
          whiteBalanceMode null
          exposureMode null
          focusMode null
          pointsOfInterest null
          exposureCompensation null
          exposureTime null
          colorTemperature null
          iso null
          brightness null
          contrast null
          saturation null
          sharpness null
          focusDistance null
          pan null
          tilt null
          zoom null
          torch null
    NotificationOptions
      members
        member
          // All Blink only as of 2023-10
          actions null
          image null
          renotify null
          timestamp null
          vibrate null
    OfflineAudioContextOptions
      members
        member
          renderSizeHint null
    OpusEncoderConfig
      members
        member
          application null
          signal null
    PaymentDetailsUpdate
      members
        member
          payerErrors null
    PaymentOptions
      members
        member
          requestBillingAddress null
    PaymentValidationErrors
      members
        member
          paymentMethod null
    PerformanceObserverInit
      members
        member
          durationThreshold null
    PointerEventInit
      members
        member
          persistentDeviceId null
    PopStateEventInit
      members
        member
          hasUAVisualTransition null
    PublicKeyCredentialCreationOptions
      members
        member
          attestationFormats null
          hints null
    PublicKeyCredentialCreationOptionsJSON
      members
        member
          attestationFormats null
    PublicKeyCredentialRequestOptions
      members
        member
          hints null
    ReadableStreamReadResult null
    RequestInit
      members
        member
          adAuctionHeaders null
          attributionReporting null
          duplex null
          privateToken null
          sharedStorageWritable null
          targetAddressSpace null
    RTCEncodedAudioFrameMetadata
      members
        member
          audioLevel null
    RTCEncodedFrameMetadata
      members
        member
          captureTime null
          receiveTime null
          senderCaptureTimeOffset null
    RTCConfiguration
      members
        member
          peerIdentity null
    RTCDataChannelInit
      members
        member
          priority null
    RTCInboundRtpStreamStats
      members
        member
          corruptionMeasurements null
          powerEfficientDecoder null
          totalCorruptionProbability null
          totalSquaredCorruptionProbability null
    RTCLocalIceCandidateInit
      members
        member
          relayProtocol null
          url null
    RTCOutboundRtpStreamStats
      members
        member
          powerEfficientEncoder null
          encoderImplementation null
          encodingIndex null
    RTCReceivedRtpStreamStats
      members
        member
          packetsReceivedWithCe null
          packetsReceivedWithEct1 null
          packetsReportedAsLost null
          packetsReportedAsLostButRecovered null
    RTCPeerConnectionIceEventInit
      members
        member
          url null
    RTCRtpEncodingParameters
      members
        member
          codec null
          scalabilityMode null
    RTCSentRtpStreamStats
      members
        member
          packetsSentWithEct1 null
    RTCTransportStats
      members
        member
          ccfbMessagesReceived null
          ccfbMessagesSent null
    ScrollIntoViewOptions
      members
        member
          container null
    Transformer
      members
        member
          cancel null
    UIEventInit
      members
        member
          sourceCapabilities null
    VideoConfiguration
      members
        member
          spatialScalability null
    VideoDecoderConfig
      members
        member
          flip null
          rotation null
    VideoEncoderConfig
      members
        member
          hevc null
    VideoEncoderEncodeOptions
      members
        member
          av1 null
          hevc null
          vp9 null
    VideoFrameInit
      members
        member
          flip null
          metadata null
          rotation null
    VideoFrameBufferInit
      members
        member
          flip null
          metadata null
          rotation null
          transfer null
    WebGLContextAttributes
      members
        member
          xrCompatible null
    WebTransportOptions
      members
        member
          anticipatedConcurrentIncomingBidirectionalStreams null
          anticipatedConcurrentIncomingUnidirectionalStreams null
          protocols null
    WebTransportSendStreamOptions
      members
        member
          waitUntilAvailable null
typedefs
  typedef
    ArrayBufferView
