removals {
  dictionary CredentialCreationOptions {
    member digital    // Blink test-only as of 2025-05
    member federated  // Blink only as of 2025-05
    member password   // Blink only as of 2025-05
    member mediation  // WebKit only as of 2025-05
  }
}
