// https://github.com/microsoft/TypeScript/issues/46036
dictionary CryptoKeyPair {
    member privateKey required=#true
    member publicKey required=#true
}

interface CryptoKey {
    property algorithm type=KeyAlgorithm
    property usages {
        type sequence {
            type KeyUsage
        }
    }
}

removals {
    enum KeyFormat {
        raw-private // No implementation as of 2025-09
        raw-public // No implementation as of 2025-09
        raw-secret // No implementation as of 2025-09
        raw-seed // No implementation as of 2025-09
    }

    enum KeyUsage {
        decapsulateBits // No implementation as of 2025-09
        decapsulateKey // No implementation as of 2025-09
        encapsulateBits // No implementation as of 2025-09
        encapsulateKey // No implementation as of 2025-09
    }

    dictionary KeySystemTrackConfiguration {
        member encryptionScheme // Gecko only as of 2025-05
    }

    dictionary CredentialRequestOptions {
        // Only `mediation`, `publicKey`, `signal` are implemented by 2+ engines, everything else is currently Blink only.
        // https://searchfox.org/mozilla-central/source/dom/webidl/CredentialManagement.webidl
        // https://searchfox.org/wubkat/source/Source/WebCore/Modules/credentialmanagement/CredentialRequestOptions.idl
        // https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/renderer/modules/credentialmanagement/credential_request_options.idl
        member digital // Behind a flag in WebKit and Blink as of 2024-03
        member federated
        member identity
        member otp
        member password
    }

    dictionary JsonWebKey {
        member priv // No implementation as of 2025-09
        member pub // No implementation as of 2025-09
    }
}
