// Keeping EventListener and EventListenerObject isn't the most elegant way to handle the event listeners, but we need to keep the EventListener as an extendable interface for libraries like angular.
interface EventListener noInterfaceObject=#true {
  method "" returns=undefined {
    param evt type=Event
  }
}

interface EventListenerObject noInterfaceObject=#true {
  method handleEvent returns=undefined {
    param object type=Event
  }
}

interface Document {
  property anchors nullable=#false {
    type HTMLCollectionOf {
      type HTMLAnchorElement
    }
  }

  property body {
    type nullable=#false
  }

  property documentElement {
    type HTMLElement nullable=#false
  }

  property embeds nullable=#false {
    type HTMLCollectionOf {
      type HTMLEmbedElement
    }
  }

  property forms nullable=#false {
    type HTMLCollectionOf {
      type HTMLFormElement
    }
  }

  property head {
    type nullable=#false
  }

  property images nullable=#false {
    type HTMLCollectionOf {
      type HTMLImageElement
    }
  }

  property links nullable=#false {
    type HTMLCollectionOf {
      type HTMLAnchorElement
      type HTMLAreaElement
    }
  }

  // Pre-TS-5.1 hack to make document.location assignable
  property location readonly=#false {
    // Technically this can be null for a detached iframe.
    // But that's an edge case and flipping this also breaks compatibility.
    type nullable=#false
  }

  property plugins nullable=#false {
    type HTMLCollectionOf {
      type HTMLEmbedElement
    }
  }

  property scripts nullable=#false {
    type HTMLCollectionOf {
      type HTMLScriptElement
    }
  }
}


enum InsertPosition {
  beforebegin
  beforeend
  afterbegin
  afterend
}

// ChildNode and ParentNode are actually defined as mixins, but because of their names they have historically been used as a sub-interface of Node.
interface-mixin ChildNode extends=Node
interface-mixin ParentNode extends=Node
