// Keeping EventListener and EventListenerObject isn't the most elegant way to handle the event listeners, but we need to keep the EventListener as an extendable interface for libraries like angular.
interface EventListener noInterfaceObject=#true {
  method "" returns=undefined {
    param evt type=Event
  }
}

interface EventListenerObject noInterfaceObject=#true {
  method handleEvent returns=undefined {
    param object type=Event
  }
}

interface Document {
  // Pre-TS-5.1 hack to make document.location assignable
  property location readonly=#false {
    // Technically this can be null for a detached iframe.
    // But that's an edge case and flipping this also breaks compatibility.
    type nullable=#false
  }

  // Similarly body and head are mostly non-null for HTML documents.
  // body can frequently be null when executing scripts in head, but flipping
  // it also breaks compatibiliity.
  property body {
    type nullable=#false
  }
  property head {
    type nullable=#false
  }

  // More specific types for HTMLCollection properties
  property anchors {
    type HTMLCollectionOf {
      type HTMLAnchorElement
    }
  }
  property embeds {
    type HTMLCollectionOf {
      type HTMLEmbedElement
    }
  }
  property forms {
    type HTMLCollectionOf {
      type HTMLFormElement
    }
  }
  property images {
    type HTMLCollectionOf {
      type HTMLImageElement
    }
  }
  property links {
    type HTMLCollectionOf {
      type HTMLAnchorElement
      type HTMLAreaElement
    }
  }
  property plugins {
    type HTMLCollectionOf {
      type HTMLEmbedElement
    }
  }
  property scripts {
    type HTMLCollectionOf {
      type HTMLScriptElement
    }
  }

  property defaultView overrideType="WindowProxy & typeof globalThis"
}

enum InsertPosition {
  beforebegin
  beforeend
  afterbegin
  afterend
}

// ChildNode and ParentNode are actually defined as mixins, but because of their names they have historically been used as a sub-interface of Node.
interface-mixin ChildNode extends=Node
interface-mixin ParentNode extends=Node
