removals {
  enum RequestDestination {
    text // No implementation as of 2026-04
  }
}

interface Request {
  constructor signatureIndex=0 {
    param input {
      additionalTypes input Location
    }
  }
}
