removals {
  enum GPUBlendFactor {
    one-minus-src1         // Blink only as of 2024-11
    one-minus-src1-alpha   // Blink only as of 2024-11
    src1                   // Blink only as of 2024-11
    src1-alpha             // Blink only as of 2024-11
  }

  enum GPUFeatureName {
    texture-component-swizzle // Blink only as of 2026-02
    texture-formats-tier2 // Blink only as of 2026-02
  }

  dictionary GPURequestAdapterOptions {
    member featureLevel // Gecko only, Blink experimental only as of 2026-02
    member xrCompatible // WebKit only, Blink experimental only as of 2026-02
  }

  dictionary GPUShaderModuleDescriptor {
    member compilationHints   // Blink only as of 2024-11
  }

  dictionary GPUTextureViewDescriptor {
    member swizzle // Blink only as of 2026-01
  }

  dictionary GPUTextureDescriptor {
    member textureBindingViewDimension // Blink experimental only as of 2026-02
  }
}

interface GPUBufferUsage noInterfaceObject=#true {
  property MAP_READ type=GPUFlagsConstant readonly=#true
  property MAP_WRITE type=GPUFlagsConstant readonly=#true
  property COPY_SRC type=GPUFlagsConstant readonly=#true
  property COPY_DST type=GPUFlagsConstant readonly=#true
  property INDEX type=GPUFlagsConstant readonly=#true
  property VERTEX type=GPUFlagsConstant readonly=#true
  property UNIFORM type=GPUFlagsConstant readonly=#true
  property STORAGE type=GPUFlagsConstant readonly=#true
  property INDIRECT type=GPUFlagsConstant readonly=#true
  property QUERY_RESOLVE type=GPUFlagsConstant readonly=#true
}
