interface XMLHttpRequest {
    method open signatureIndex=0 {
        param url {
            additionalTypes URL Location WorkerLocation
        }
    }
    method open signatureIndex=1 {
        param url {
            additionalTypes URL Location WorkerLocation
        }
    }
}
